<section class=" h-[calc(100dvh-80px)] flex items-center justify-center w-full">
    <div class="w-[80%] md:w-[70%] lg:w-[50%] bg-gray-50 text-black rounded-lg shadow-lg border border-gray-200 md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <% content_for :title, "New user" %>
            <h1>New user</h1>
            <%= render "form", user: @user %>
            <br>
            <div>
                <%= link_to "Back to users", users_path %>
            </div>
        </div>
    </div>
</section>