<section class=" h-[calc(100dvh-80px)] flex items-center justify-center w-full">
    <div class="w-[80%] md:w-[70%] lg:w-[50%] bg-gray-50 text-black rounded-lg shadow-lg border border-gray-200 md:mt-0 sm:max-w-md xl:p-0 ">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <%= simple_form_for @post, html: { class: "w-full flex flex-col gap-3 w-full text-black" } do |f| %>
        <%= f.input :photo, as: :file, input_html: { class: "w-full mt-2 text-sm text-black  file:py-2  file:rounded-xl rounded-xl file:border-0 file:text-sm file:font-semibold file:bg-gray-300 file:text-black hover:file:bg-gray-200" } %>
        <%= f.input :description, input_html: { class: "flex mt-2 w-full items-center bg-white rounded-xl text-black" } %>
        <div class="flex justify-end">
            <%= f.submit 'Post',class:"bg-gradient-to-r from-purple-500 to-red-500 rounded-full text-white font-medium  w-24 h-9 cursor-pointer " %>
        </div>
        <% end %>
    </div>
    </div>
</div>